html {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
body {
    min-width: 690px;
    max-width: 1100px;
    padding: 2%;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    color: #aaa;
    margin-bottom: 0;
    font-size: 1.1em;
}
a {
    color: #000095;
}
a.pseudo {
    text-decoration: none;
    border-bottom: 1px dashed;
}
a.pseudo.selected {
    text-decoration: none;
    border-bottom: none;
    color: inherit;
    font-weight: bold;
}
ul, p {
    margin-bottom: 0;
}

code {
    padding: 0 3px;
    font-family: 'Inconsolata', monospace;
    border-radius: 2px;
    border: 1px solid #ececec;
    background: #f8f8f8;
}

ul.select {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
    ul.select > li {}
        ul.select > li> a {
            text-decoration: none;
        }
        ul.select > li> a.selected {
            color: inherit;
            text-decoration: none;
            font-weight: bold;
            border-bottom: 0px;
            cursor: default;
        }
ul.select.-large {
    font-size: 16px;
}

.selects-grid {
    display: flex;
    margin-top: 40px;
}
    .selects-grid__cell {
        position: relative;
        margin-right: 6%;
        margin-bottom: 4%;
    }
    .selects-grid__cell:last-child {
        margin-right: 0;
    }
        .selects-grid__cell::before {
            content: "";
            display: block;
            position: absolute;
            left: -14px;
            right: -14px;
            top: -14px;
            bottom: -14px;
            background: #f8f8f8;
            z-index: -1;
        }
        .selects-grid__cell::after {
            content: "";
            display: block;
            width: 100px;
            height: 100px;
            background: #f8f8f8;
            position: absolute;
            top: 50%;
            left: -141px;
            z-index: -2;
            margin-top: -50px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            box-shadow: 0px 3px 8px #ccc;
        }
        .selects-grid__cell:first-child::after {
            content: none;
        }
        .selects-grid__cell > :first-child {
            margin-top: 0;
        }
    .selects-grid__system {
        min-width: 24%;
    }
    .selects-grid__competition {
        min-width: 30%;
    }
    .selects-grid__chartset {
        min-width: 20%;
    }

#switch-units {
    text-align: right;
    position: relative;
    top: -1em;
}

#select-preset {
    float: left;
    margin-right: 20px;
}

section {
    margin-top: 50px;
}
    section p {
        max-width: 690px;
    }
.chart {
    margin-top: 40px;
    max-width: 860px;
}

.samples {
    display: flex;
    flex-wrap: wrap;
}
    .samples figure {
        margin: 1em 30px 0 0;
    }
    .samples figure:last-child {
        margin-right: 0;
    }
    .samples figcaption {
        font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-weight: 700;
        color: #666;
        margin: 0;
    }

dl.libraries {
    max-width: 690px;
}
    dl.libraries dt {
        float: left;
        margin-right: 10px;

        font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-weight: 700;
        color: #333;
        font-size: 16px;
    }
    dl.libraries dd {
        margin: 0 0 12px 120px;
    }
    dl.libraries dd:after {
        content: "";
        display: block;
        clear: left;
    }
