name: Docs

on: [push, pull_request]

env:
  FORCE_COLOR: 1

jobs:
  build:

    runs-on: ubuntu-latest
    name: Docs

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          cd docs && npm install

      - name: Build
        run: |
          cd docs
          rm -r bundles
          npm run build
          if [ ! -d bundles ]; then
            exit 1
          fi
